<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycl.job.mapper.BaseExportTaskDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zbf.common.entity.my.BaseExportTaskDetail">
        <id column="id" property="id" />
        <result column="shard_id" property="shardId" />
        <result column="task_header_id" property="taskHeaderId" />
        <result column="task_sql" property="taskSql" />
        <result column="file_name" property="fileName" />
        <result column="file_path" property="filePath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shard_id, task_header_id, task_sql, file_name, file_path
    </sql>

</mapper>
