<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycl.menu.mapper.BaseMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zbf.common.entity.my.BaseMenu">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="code" property="code"/>
        <result column="menuName" property="menuName"/>
        <result column="imagePath" property="imagePath"/>
        <result column="url" property="url"/>
        <result column="parentCode" property="parentCode"/>
        <result column="leval" property="leval"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, version, code, menuName, imagePath, url, parentCode, leval, createTime
    </sql>


    <select id="findall" resultType="com.zbf.common.entity.my.BaseMenu">
        SELECT
DISTINCT bu.id bid,
bm.id,
	bu.loginName,
	bm.menuName,
	bm.imagePath,
	bm.leval,
	bm.code,
	bm.parentCode,
	bm.url
FROM
	base_user_role bur
	INNER JOIN base_user bu ON bur.userId = bu.id
	INNER JOIN base_role_menu brm ON bur.roleId = brm.role_id
	INNER JOIN base_menu bm ON brm.menu_id = bm.id
WHERE
	bu.loginName = #{loginName}
	AND bm.leval = #{leval}
	AND bm.parentCode=#{code}
    </select>





    <select id="findalldan" resultType="com.zbf.common.entity.my.BaseMenu">
        SELECT
DISTINCT bm.id,
	bm.menuName,
	bm.imagePath,
	bm.leval,
	bm.code,
	bm.parentCode,
	bm.url
FROM
	 base_menu bm
WHERE
	 bm.leval = #{leval}
	AND bm.parentCode=#{code}
    </select>

</mapper>
